<html>
    <head>
    </head>
    <body>
        bonjour,
        merci M.{{nom}} de deposer votre annonce avec titre {{titre}}dans notre site.Il sera afficher lorsqu'il sera validé par notre expert.
        Cordialement.
        
    </body>
</html>